body {
    background-color: #0c3d6c;
    font-family: emoji;
}
:root {
    --mg: 20px; 
    --btn-bg: #0f5292;
    /* margin-top: var(--mg); */
    /* margin-bottom: var(--mg); */
}

input[type='submit'] {
    background-color: var(--btn-bg);
    color: white;
    width: 85px;
}
section {
    margin-top: var(--mg);
    margin-bottom: var(--mg);
}

/* chat css */
.chat-container {
    display: flex;
    justify-content: center;
}
.chat-container div:nth-child(1) {
    width: 40%;
}
.chat-container input{
    margin-top: var(--mg);
}

#messages div {
    background-color: var(--btn-bg);
    color: white;
    border-radius: 5px;
    padding: 10px;
    min-width: 100px;
    display: flex;
    justify-content: space-between;
}
#messages .username {
    font-size: 10px;
    align-self: end;
}
@media only screen and (max-width: 600px) {
    .chat-container div {
      width: 80%;
    }
  }