body {
    background-color: #0c3d6c;
    font-family: emoji;
}
:root {
    --mg: 20px; 
    --btn-bg: #0f5292;
    /* margin-top: var(--mg); */
    /* margin-bottom: var(--mg); */
}

input[type='submit'] {
    background-color: var(--btn-bg);
    color: white;
    width: 85px;
}
section {
    margin-top: var(--mg);
    margin-bottom: var(--mg);
}

/* chat css */
.chat-container {
    display: flex;
    justify-content: center;
}
.chat-container div:nth-child(1) {
    width: 60%;
}
.chat-container input{
    margin-top: var(--mg);
}

#messages div {
    background-color: var(--btn-bg);
    color: white;
    border-radius: 5px;
    padding: 10px;
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#messages .username {
    font-size: 10px;
    align-self: end;
}
@media only screen and (max-width: 600px) {
    .chat-container div:nth-child(1) {
      width: 80%;
    }
    #messages div {
        width: 100%;
        padding: 6px;
    }
}
header {
    color: white;
}
header div {
    display: flex;
    justify-content: end;
    padding-right: 10px;
}
header a {
    color: white;
    margin-right: 5px;
}
header a:hover {
    color: #4a97df;
}
header h3 {
    margin-left: 10px;
}
.create_chat {
    display: flex;
    justify-content: center;
    height: 34vw;
    align-items: center;
}
.create_chat div {
    width: 400px;
    text-align: center;
}
.create_chat input {
    width: 100%;
    margin-bottom: 10px;
}
.create_chat h3 {
    color: white;
}
@media only screen and (max-width: 600px) {
    .create_chat div {
        width: 80%;
    }
    .create_chat {
        height: 155vw;
    }

}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .create_chat {
        height: 100vw;
    }
}