{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="registration">
    <div>
        <form class="form-group" method="post">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                <p class="message">{{ message }}</p>
                {% endfor %}
            {% endif %}
            <label for="email">Email</label>
            <input type="email" name="email" required class="form-control">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required class="form-control">
            <input type="submit" class="btn" id="submit_login">
        </form>
        <div class="img">
            <img src="{% static 'img/chat.jpg' %}" alt="chat image">
            <h4>enjoy our chat services</h4>
        </div>
</div>
</section>
{% endblock content %}