{% extends 'base.html' %}
{% block content %}    
   
<section class="chat-container">
    <div>
        <div id="messages"></div>
        <input type="text" id="message" class="form-control" placeholder="message">
        <input type="submit" value="send" id="submit" class="btn">
        {{ room_name | json_script:'room-name'}}
    </div>
</section>
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent)
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
    )
    const btn = document.querySelector('#submit')
    btn.onclick = function () {
        const message = document.querySelector('#message').value
        chatSocket.send(JSON.stringify({
        'message': message
    }))
    document.querySelector('#message').value = ''
    }
    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        if (data['message']) {
            const messages = document.querySelector('#messages');
            const new_p = document.createElement('p');
            const content = document.createTextNode(data.message);
            new_p.appendChild(content);
            messages.append(new_p);
        }
    }
</script>
{% endblock content %}