{% extends 'base.html' %}
{% block content %}    
<section class="chat-container">
    <div>
        <div id="messages"></div>
        <input type="text" id="message" class="form-control" placeholder="message">
        <input type="submit" value="send" id="submit" class="btn">
        {{ room_name | json_script:'room-name'}}
    </div>
</section>
<script>
    // aquiring room name to create chat room through web socket
    const roomName = JSON.parse(document.getElementById('room-name').textContent)
    // build websocket
    const chatSocket = new WebSocket(
        'wss://' + window.location.host + '/ws/chat/' + roomName + '/'
    )
    const btn = document.querySelector('#submit')
    // send messages to websocket
    btn.onclick = function () {
        const message = document.querySelector('#message').value;
        const username = '{{request.user.username}}';
        chatSocket.send(JSON.stringify({
        'message': message,
        'username': username
    }))
    document.querySelector('#message').value = ''
    }
    function create_elements(msg, user) {
        // function to create elements and populate them
        // with sent messages
        // Args:
        // msg - sent message through web socket
        // user - the user that sent the message
        const messages = document.querySelector('#messages');
        const messageElement = document.createElement('span');
        const usrElement = document.createElement('span');
        const container = document.createElement('div');
        usrElement.classList.add('username')
        const content_msg = document.createTextNode(msg);
        const content_usr = document.createTextNode(user);
        messageElement.appendChild(content_msg);
        usrElement.appendChild(content_usr);
        container.appendChild(messageElement);
        container.appendChild(usrElement);
        messages.appendChild(container)
    }
    // pushing sent messages through web socket into a div
    // new elements are created to add messages
    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        if (data.type === 'saved_msg') {
            // post saved messages to newly connected users
            for (let i = 0; i < data.saved_msg.length; i++) {
                create_elements(data.saved_msg[i]['message'], data.saved_msg[i]['user']);
            }
        }
        if (data['msg']) {
            // post sent messages by all users
            create_elements(data['msg'], data['username']);
        }
    }
</script>
{% endblock content %}